Versiones/

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

.DS_Store
Thumbs.db

.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.idea/
*.sln.iml

.vscode/


sysinfo.txt

crashlytics-build.properties

Assets/AddressableAssetsData/*/*.bin*

*.apk
*.aab
*.unitypackage
*.app
*.exe
*.x86
*.x86_64
*.apk
*.ipa

*.mp4
*.mov
*.avi